#banner
    .canner_content
        %h1 File Cabinet
        %p Your lifes work here always
        %button= link_to "enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 %organize
                %p this is filler text

#bottom_cta
    .wrapper
    %h2 Sign Up
    %br
    %button= link_to "Join Us", new_user_registration_path